form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
}

.customInput {
    position: relative;
}

.customInput:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    width: 25px;
    height: 25px;
    background: url("../../commons/heart.png") no-repeat;
    background-size: cover;
    cursor: pointer;
}

input {
    width: 500px;
    height: 50px;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

button {
    border: none;
    border-radius: 7px;
    width: 75px;
    height: 50px;
    margin-bottom: 15px;
    background-color: #1b75ff;
    color: white;
    transition: all 0.2s ease-in;
}

button:hover {
    background-color: #4281fc;
    cursor: pointer;
}